
$color-white: #fff;
$color-black: #000;

$font-color-primary: #FEFFDE;
$font-display: 'Josefin Sans', sans-serif;

// chat ui colors
$gradient-start: #0b4832;
$gradient-end: #0e4158;
$chat-container-bg: rgba(7, 34, 107, 0.2);
$bot-message-bg: #aeb3d3;
$user-message-bg: rgba(255, 255, 255, 0.6); 
$border-color: rgba(2, 17, 21, 0.5);
$box-shadow: 0 4px 6px rgba(40, 5, 73, 0.1);
$text-color: #333;
$font-family: 'Arial', sans-serif;