@import "../../../assets/style/variables";


.chatbot-container {
  height: 83vh;
  background: $chat-container-bg; 
  box-shadow: $box-shadow;
  padding: 1%;

  .chat-content {
    height: 90%;
    max-height: 100%;
    overflow-y: auto;

    .message {
      padding: 10px 20px;
      margin: 10px 0;
      border-radius: 20px;
      box-shadow: $box-shadow;

      &.user {
        background-color: $bot-message-bg;
        border: 1px solid $border-color;
        margin-left: 20px; 
      }

      &.bot {
        background-color: $user-message-bg;
        border: 1px solid $border-color;
        margin-right: 20px;
      }

      p {
        margin: 0;
      }
    }
  }

  .chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $user-message-bg;
    padding: 10px;
    margin-top: 1%;

    input[type="text"] {
      flex: 1;
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: 20px;
      outline: none;
      background: transparent;
      margin-right: 10px;
    }

    button {
      padding: 10px 20px;
      border: none;
      background-color: $gradient-start;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
      border-radius: 2em;

      &:hover {
        background-color: darken($gradient-start, 10%);
      }
    }
  }
}
