// Define colors and variables
$gradient-start: #0b4832; // Light green for the top of the gradient
$gradient-end: #0e4158;  // Light blue for the bottom of the gradient
$chat-container-bg: rgba(7, 34, 107, 0.2); // Semi-transparent white for the chat container
$bot-message-bg: #aeb3d3; // White background for bot's message
$user-message-bg: rgba(255, 255, 255, 0.6); // Semi-transparent background for user's message
$border-color: rgba(2, 17, 21, 0.5); // Border color for chat bubbles
$box-shadow: 0 4px 6px rgba(40, 5, 73, 0.1);
$text-color: #333;
$font-family: 'Arial', sans-serif; // Change this if you have a specific font in mind



.chatbot-container {
  margin-left: 0.5rem;
  width: 95%;
  padding: 2%;
  height: 85vh;
  background: $chat-container-bg; 
  border-radius: 20px;
  box-shadow: $box-shadow;

  .chat-content {
    height: 90%;
    max-height: 100%;
    overflow-y: auto;

    .message {
      padding: 10px 20px;
      margin: 10px 0;
      border-radius: 20px;
      box-shadow: $box-shadow;

      &.user {
        background-color: $bot-message-bg;
        border: 1px solid $border-color;
        margin-left: 20px; 
      }

      &.bot {
        background-color: $user-message-bg;
        border: 1px solid $border-color;
        margin-right: 20px;
      }

      p {
        margin: 0;
      }
    }
  }

  .chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    bottom: 2rem;
    background: $user-message-bg;
    padding: 10px;
    border-radius: 20px;

    input[type="text"] {
      flex: 1;
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: 20px;
      outline: none;
      background: transparent;
      margin-right: 10px;
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      background-color: $gradient-start;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($gradient-start, 10%);
      }
    }
  }
}
