<div class="navbar" [ngClass]="{'active': open}">
    <div class="icons">
        <div class="iconBox" routerLink="" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">        
            <mat-icon>home</mat-icon> 
        </div>  
        <div class="iconBox" routerLink="file" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">        
            <mat-icon>cloud_upload</mat-icon> 
        </div>   
        <div class="iconBox" [routerLink]="['chat', 'rag']"  routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">        
            <mat-icon>mode_comment</mat-icon>
        </div>
        <div class="iconBox toggle">        
            <mat-icon (click)="toggleSidebar()">exit_to_app</mat-icon> 
         </div>   

    </div>

    <div class="list" *ngIf="open">
        <div routerLink="">
            <p>Home</p>
        </div>
        <div routerLink="file">
            <p>File Upload</p>
        </div>
        <div [routerLink]="['chat', 'rag']">
            <p>Chat</p>
        </div>
    </div>
</div>
