
@import "../../../assets/style/variables";

.file-upload {
    display: flex;
    margin: 5%;
    border: 2px $gradient-end dashed;
    padding: 5%;
    justify-content: space-evenly;
}

.file-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    margin: 5%;;
}