<div class="file-upload">
    <input type="file" hidden class="file-input" #uploadFile multiple (change)="onChange($event)" />
    <button mat-raised-button color="primary" (click)="uploadFile.click()">Upload File </button>

    
</div>

<div *ngIf="files.length"  class="file-upload-list">
  <div  class="file-section">
      <mat-card *ngFor="let file of files">
          <mat-card-header>
            <mat-card-title>File details:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <li>Name: {{file.name}}</li>
              <li>Type: {{file.type}}</li>
              <li>Size: {{file.size}} bytes</li>
          </mat-card-content>
        </mat-card>
  </div>

<button (click)="onUpload()" class="upload-button">Upload the file</button>

<section [ngSwitch]="status" >
  <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
  <p *ngSwitchCase="'success'">✅ Done!</p>
  <p *ngSwitchCase="'fail'">❌ Error!</p>
  <p *ngSwitchDefault>😶 Waiting to upload...</p>
</section>
</div>

<div class="table">
  <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
    ></ag-grid-angular>
</div>

