.container {
    display: grid;
    width: 100%;
    max-height: 100vh;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "sidebar footer";
    grid-template-rows: 7% 86% 7%;
    grid-template-columns: 15rem 1fr;
    transition: all 0.5s ease-in-out;  

    &.collapsed {
        grid-template-columns: 4rem 1fr;
        transition: all 0.5s ease-in-out;  
    }
}

app-header {
    grid-area: header;
}

app-sidebar {
    grid-area: sidebar;
    transition: all 0.5s ease-in-out;    
    overflow: hidden; // To hide the content when it's collapsed
}

app-chatui {
    grid-area: main;
    transition: all 0.5s ease-in-out;  
}

app-footer {
    grid-area: footer;
}
